<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>TMap Viewer</title>
        <!-- shortcut icon-->
        <link rel="shortcut icon" href="/static/Image/TMap_icon.ico">
        <!-- icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <!-- tmap -->
        <script src="https://api2.sktelecom.com/tmap/js?version=1&format=javascript&appKey=dc65b12b-9750-4e55-a14b-54d192a0f496"></script>
        <!-- ajax -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!-- jQuery -->
        <script>window.jQuery || document.write('<script src="{{
        url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

        <script src="/static/script/TMap/TMapScript.js"></script>
        <script src="/static/script/TMap/MarkerHandler.js"></script>
        <link rel="stylesheet" href="/static/CSS/TMapCSS.css">
    </head>
    <body>
        <div id="header">
            <div id="tmap_head">
                <!--
                <input type="text" id="searchQuery">
                <p id="result"></p>
                <button id="tmap_route_start_btn" Onclick="Search()"/>
                -->
            </div>
        </div>
        <div id="left">
            <div id="leftInput">
                <div class='waypointBoxView'>
                    <span style="color:darkcyan">
                        <i class="fas fa-car fa-lg"></i>
                    </span>
                    <span>
                        <input class='WayInputBox' id="StartPointInput">
                    </span>
                </div>
                <div id="leftWayInput">
                </div>
                <div class='waypointBoxView'>
                    <span style="color:darkcyan">
                        <i class="fas fa-flag fa-lg"></i>
                    </span>
                    <span>
                        <input class=WayInputBox id="DestinationPointInput">
                    </span>
                </div>
                <div>
                    <button onclick="AddWaypoint()">경유지 추가</button></p>
                </div>
            </div>
        </div>
        <div id="tmap_main_frame">
            <div id="map_div"></div>
        </div>
    </body>

    <script>
        var startStr = '{{start}}'
        var destStr = '{{dest}}'
        var splitedStartStr = startStr.split(',');
        var splitedDestStr = destStr.split(',');

        initTmap();
        if( splitedStartStr != "" && splitedDestStr != "" )
        {
            var lonlatStart = new Tmap.LonLat(splitedStartStr[1], splitedStartStr[0]);
            lonlatStart.transform("EPSG:4326", "EPSG:3857");
            var lonlatDest = new Tmap.LonLat(splitedDestStr[1], splitedDestStr[0]);
            lonlatDest.transform("EPSG:4326", "EPSG:3857");
            CalculateRoute(lonlatStart, [], lonlatDest);
        }
    </script>
</html>